footer {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    padding: 20px 0;
    max-width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    color: white;
}

.footer-left, .footer-center, .footer-right {
    flex: 1;
    padding: 10px;
}

.footer-right form input {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 5px;
}

.footer-right form button {
    padding: 10px;
    border: none;
    background: #ff6f61;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.quick-links {
    list-style: none;
    margin-left: .1vw;
    text-decoration: none;
}

.quick-links-a {
    text-decoration: none;
    color: white;
}

.email-form {
    display: flex;
    gap: 1.5vw;
}

.social-icons {
    margin-top: .8vw;
}